nav {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

nav a {
    text-decoration:  none;
    color: inherit;
}

nav h1 {
    font-size: 40px;
    color: black;
    font-weight: normal;
}